<%= form_for @message, url: contact_path do |message_form| %>
  <fieldset>
    <div class="field">
      <%= message_form.text_field :name, placeholder: "Name" %>
    </div>
    
    <div class="field">
      <%= message_form.text_field :phone, placeholder: "Phone"%>
    </div>
    
    <div class="field">
      <%= message_form.text_area :content, placeholder: "Message"%>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="field">
      <%= message_form.submit "Send" %>
    </div>
  </fieldset>
<% end %>