<section id="singin">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h3 class="title text-center">Service Provider Sign In</h3>
				<div class="row">
					<div class="col-sm-6">
						<%= image_tag('logo.svg', width: "200px", height: "200px") %>
					</div>
					<div class="col-sm-6">
						<%= form_tag(session_path, {:class => 'form-validate'}) do %>
							<div class="form-group">
								<%= label_tag :email %>
								<%= email_field_tag :email, nil, :autofocus => true, class: "form-control", :required => true %>
							</div>
							<div class="form-group">
								<%= label_tag :password %>
								<%= password_field_tag :password, nil, class: "form-control", :required => true%>
							</div>
							<%= submit_tag "Sign In", class: "btn btn-primary" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
