<%= form_for @notice, html: {class: "form-validate"} do |n| %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="form-group">
        <%= n.label :title, "Title" %>
        <%= n.text_field :title, size: 40, class: "form-control", required: true %>
        <%= n.hidden_field(:slug)%>
      </div>
      <div class="form-group">
        <%= n.label :content, "Content" %>
        <%= n.text_area :content, :class => 'ckeditor' %>
      </div>
      <div class="form-group">
        <%= n.label :published, "Published" %>
        <%= n.check_box :published %>
      </div>
      <%= n.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
