<section id="user">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2><%= @user.name %></h2>
        <p><%= mail_to(@user.email) %></p>
        <p>Registered Since <%= @user.created_at.strftime("%B %Y") %></p>

        <%= render 'shared/admin_nav' %>
        <div class="data-view">
          <% if (@user.admin == true) %>
            <div class="admin-data">
              <h3>Location Data</h3>
              <form action="analytics" method="get" class="form-validate heatmap" role="search">
                <div class="input-group col-sm-5">
                  <span class="input-group-addon">Radius (km)</span>
                  <input type="text" name="radius" class="form-control" value="<%= @radius_field %>"/>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="input-group">
                      <span class="input-group-addon">From</span>
                      <input type="text" name="datefrom" class="form-control" placeholder="dd/mm/yyyy" value="<%= @date_from %>"/>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="input-group">
                      <span class="input-group-addon">To</span>
                      <input type="text" name="dateto" class="form-control" placeholder="dd/mm/yyyy" value="<%= @date_to %>"/>
                    </div>
                  </div>
                </div>
                <div class="input-group col-sm-12">
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      value="shelter"
                      name="services[]"
                      <%= (@services.include? 'shelter') ? 'checked' : '' %>
                    >
                    Shelter
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      value="food"
                      name="services[]"
                      <%= (@services.include? 'food') ? 'checked' : '' %>
                    >
                    Food
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      value="medical"
                      name="services[]"
                      <%= (@services.include? 'medical') ? 'checked' : '' %>
                    >
                    Medical
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      value="hygiene"
                      name="services[]"
                      <%= (@services.include? 'hygiene') ? 'checked' : '' %>
                    >
                    Hygiene
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      value="technology"
                      name="services[]"
                      <%= (@services.include? 'technology') ? 'checked' : '' %>
                    >
                    Technology
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      value="legal"
                      name="services[]"
                      <%= (@services.include? 'legal') ? 'checked' : '' %>
                    >
                    Legal
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      value="learning"
                      name="services[]"
                      <%= (@services.include? 'learning') ? 'checked' : '' %>
                    >
                    Learning
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      value="crisislines"
                      name="services[]"
                      <%= (@services.include? 'crisislines') ? 'checked' : '' %>
                    >
                    Crisis Lines
                  </label>
                </div>
                <%= submit_tag "Apply filter", :name => nil, class: "btn btn-primary" %>
                <div>
                  <br/>
                  Total: <%= @coordinates.count %>
                </div>
              </form>
              <div class="inset-gmap">
                <div id="analytics-map" style="height:600px;"></div>
              </div>
            </div>
          <% elsif (@user.facilities.count > 0) %>
            <% @user.facilities.each do |f| %>
              <h3><%= link_to f.name, facility_path(f.id) %></h3>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var map, heatmap;

  function initMap() {
    var centerMap = {lat: 49.2776868, lng: -123.0980439}
    map = new google.maps.Map(document.getElementById('analytics-map'), {
      zoom: 13,
      center: centerMap,
      mapTypeId: 'satellite'
    });

    heatmap = new google.maps.visualization.HeatmapLayer({
      data: getPoints(),
      map: map
    });

    var cityCircle = new google.maps.Circle({
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.15,
      map: map,
      center: centerMap,
      radius: <%= @radius %> // meters
    });
  }

  function getPoints() {
    return [
      <% @coordinates.each do |coord| %>
        {location: new google.maps.LatLng(<%= coord[0] %>, <%= coord[1] %>), weight: 1},
      <% end %>
    ];
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSLM-Bv5YwI1Ecw2OrMDQF8fZxik6FTzs&libraries=visualization&callback=initMap"></script>
