<%= form_for(@user) do |f| %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, size: 40, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, size: 40, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, size: 40, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, size: 40, class: "form-control" %>
      </div>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
