<%= form_for @user, html: {class: "form-validate"} do |f| %>
  <div class="row">
      <div>
        <%= f.label :name %>
        <%= f.text_field :name, size: 40 %>
      </div>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, size: 40 %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password, size: 40 %>
      </div>
      <div>
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, size: 40 %>
      </div>
      <div>
        <%= f.label :phone_number, "Phone Number" %>
        <%= f.text_field :phone_number, size: 40 %>
      </div>
      <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
