<ul class="nav nav-tabs">
  <li class="<%= params[:controller] == 'users' ? 'active' : '' %>">
    <%= link_to "Dashboard", current_user %>
  </li>
  <li class="<%= params[:controller] == 'analytics' ? 'active' : '' %>">
    <%= link_to "Data", analytics_path(current_user) %>
  </li>
  <% if current_user.admin %>
    <li class="<%= params[:controller] == 'alerts' ? 'active' : '' %>">
      <%= link_to "Alerts", alerts_path %>
    </li>
    <li class="<%= params[:controller] == 'notices' ? 'active' : '' %>">
      <%= link_to "Notices", notices_path %>
    </li>
  <% end %>
</ul>
<br>
