<nav role="navigation" style="padding-top: 0px !important;">
	<div class="bg-danger" style="padding: 10px 10px 2px 10px; text-align: center;">
		<p>Please be aware that some services may be impacted due to the ongoing COVID-19 response. Last updated: <%= lastUpdate %></p>
	</div>
	<div class="container" style="padding-top: 10px;">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="row">
					<div class="col-sm-4">
						<a class="logo" href='/facilities'>
							<%= image_tag('linkvan_horizontal.png') %>
							<span>| Home</span>
						</a>
					</div>
					<div class="col-sm-8">
						<form action="<%= search_bar_facilities_path %>" method="get" class="navbar-form navbar-right form-validate" role="search">
							<div class="form-group">
								<%= text_field_tag :search, nil, placeholder: "Search Facilities", class: "form-control", required: false %>
							</div>
							<%= submit_tag "SEARCH", :name => nil, class: "btn btn-primary" %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
<% if flash[:error] %>
	<% flash.each do |name, value| %>
	<div class="alert alert-danger text-center" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<%= value.to_sentence %>
	</div>
	<% end %>
<% end %>
