<%= form_for(@facility) do |f| %>
  <% if @facility.errors.any? %>
  <h3 style="color:red">Oops, did you remember to "Search" the address? Name missing?</h3>
  <h4>Errors: <%= @facility.errors.full_messages.to_sentence %></h4>
  <% end %>
  <p>
    <strong> WARNING: DO NOT PRESS ENTER WHEN FILLING IN FIELDS. USE "CREATE FACILITY" BUTTON AT BOTTOM OF PAGE.</strong><br/><br/>
    <%= f.label :name %> - Facility's name. Example: UBC Learning Exchange<br/>
    <%= f.text_field :name, autofocus: true %>
  </p>
  <p>
    <%= f.label :welcomes %> - Enter One (case-sensitive): All, Women, Men<br/>
    Example: Women<br/>
    <%= f.text_field :welcomes %>
  </p>
  <p>
    <%= f.label :suitability %> - Enter One or Many (case-sensitive, order doesn't matter, use space to separate terms): Children, Youth, Adults, Seniors<br/>
    Example: Adults Seniors<br/>
    <%= f.text_field :suitability %>
  </p>
  <p>
    <%= f.label :services %> - Enter One or Many (case-sensitive, order doesn't matter, use space to separate terms): Shelter, Food, Medical, Hygiene, Technology, Legal<br/>
    Example: Shelter Medical Hygiene<br/>
    <%= f.text_field :services %>
  </p>
  <p>
    <%= f.label :address %> - Enter the facility's address then click Search. This will populate the hidden latitude and longitude fields.<br/> Format: Street Address, City, BC. Example: 612 Main St, Vancouver, BC<br/>

    <%= f.text_field :address %>
    <input type="button" value="Search" onclick="codeAddress()">
    <div id="map-canvas-new"></div>
   
  


  </p>
  <p>
    <%= f.label :phone %> - Example: 604 555 6789<br/>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :website %> - Example: learningexchange.ubc.ca (Note: Do not include "http://". "www" is optional.)<br/>
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :description %> - Copy paste verbatim from the facility's "about us" page. Will tweak on stakeholder feedback.<br/>
    <%= f.text_area :description, cols: 40, rows: 7 %>
  </p>
  <p>
    If hours of operation are not available for any given date, enter 22:59 for the start time and 23:59 for the end time.<br/>
    This will make it easier to relocate in the database.<br/>
    <strong> WARNING: The start time and end time for a day cannot be identical. Also, the start time must be earlier than the end time.</strong><br/><br/>
    <%= f.label :startsmon_at %><br/>
    <%= f.time_select :startsmon_at, default: 8.hours.ago  %>
  </p>
  <p>
    <%= f.label :endsmon_at %><br/>
    <%= f.time_select :endsmon_at, default: 8.hours.ago  %>
  </p>

  <p>
    <%= f.label :startstues_at %><br/>
    <%= f.time_select :startstues_at, default: 8.hours.ago  %>
  </p>
  <p>
    <%= f.label :endstues_at %><br/>
    <%= f.time_select :endstues_at, default: 8.hours.ago  %>
  </p>

  <p>
    <%= f.label :startswed_at %><br/>
    <%= f.time_select :startswed_at, default: 8.hours.ago  %>
  </p>
  <p>
    <%= f.label :endswed_at %><br/>
    <%= f.time_select :endswed_at, default: 8.hours.ago  %>
  </p>

  <p>
    <%= f.label :startsthurs_at %><br/>
    <%= f.time_select :startsthurs_at, default: 8.hours.ago  %>
  </p>
  <p>
    <%= f.label :endsthurs_at %><br/>
    <%= f.time_select :endsthurs_at, default: 8.hours.ago  %>
  </p>

  <p>
    <%= f.label :startsfri_at %><br/>
    <%= f.time_select :startsfri_at, default: 8.hours.ago  %>
  </p>
  <p>
    <%= f.label :endsfri_at %><br/>
    <%= f.time_select :endsfri_at, default: 8.hours.ago  %>
  </p>

  <p>
    <%= f.label :startssat_at %><br/>
    <%= f.time_select :startssat_at, default: 8.hours.ago  %>
  </p>
  <p>
    <%= f.label :endssat_at %><br/>
    <%= f.time_select :endssat_at, default: 8.hours.ago  %>
  </p>

  <p>
    <%= f.label :startssun_at %><br/>
    <%= f.time_select :startssun_at, default: 8.hours.ago  %>
  </p>
  <p>
    <%= f.label :endssun_at %><br/>
    <%= f.time_select :endssun_at, default: 8.hours.ago  %>
  </p>

  <p>
    <%= f.label :notes %> - Leave empty for now. Facility admin can update at will. Examples: special events, facility rules, etc.<br/>
    <%= f.text_area :notes, cols: 40, rows: 7 %>
  </p>
  <p>
    <%= f.hidden_field :lat%><br>
    <%= f.hidden_field :long %>
  </p>
  <p>
    <%= f.submit %>
    <%= link_to "Cancel", facilities_path %>
  </p>
<% end %>
