<%
  services = [
    ["shelter", "Shelter", "shelter_note"],
    ["food", "Food", "food_note"],
    ["medical", "Medical", "medical_note"],
    ["hygiene", "Hygiene", "hygiene_note"],
    ["technology", "Technology", "technology_note"],
    ["legal", "Legal", "legal_note"],
    ["learning", "Learning", "learning_note"]
  ]
  welcomes = [
    ["male", "Male"],
    ["female", "Female"],
    ["transgender", "Transgender"],
    ["children", "Children"],
    ["youth", "Youth"],
    ["adult", "Adult"],
    ["senior", "Senior"]
  ]
%>

<%= form_for(@facility) do |f| %>
  <% if @facility.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <strong>Ops!</strong> <%= @facility.errors.full_messages.to_sentence %>
  </div>
  <% end %>
  <h1 style="text-align: center; margin-top: 20px; margin-bottom: -30px; font-weight: bold">Edit Facility</h1>
  <br>
  <br>
  <p>
    <strong> NOTE: DO NOT PRESS ENTER WHEN FILLING IN FIELDS. USE "CREATE FACILITY"/"UPDATE FACILITY" BUTTON AT BOTTOM OF PAGE.</strong>
  </p>

  <div class="form-group form-group-inline">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :welcomes %>
    <%= f.hidden_field :welcomes%>
    <ul class="list-inline">
      <% welcomes.each do |s| %>
        <li>
          <input
            type="checkbox"
            class="custom-checkbox welcomes"
            id="<%= s[0]%>"
            name="<%= s[1]%>"
            value="<%= s[1]%>"
            <% if @facility.welcomes.present? && (@facility.welcomes.include?(s[1]) || @facility.welcomes.include?("All")) %>
              checked
            <% end %>
          >
          <label for="<%= s[0]%>">
            <%= s[1]%>
          </label>
        </li>
      <% end %>
    </ul>
  </div>
  <hr>

  <div class="form-group">
    <%= f.label :services %> - Select All Relevant Categories
    <%= f.hidden_field :services%>
    <ul class="list-inline">
      <% services.each do |s| %>
        <li>
          <input
            type="checkbox"
            class="custom-checkbox services"
            id="<%= s[0]%>"
            name="<%= s[1]%>"
            value="<%= s[1]%>"
            data-note-id="<%= s[2]%>"
            <% if @facility.services.present? && @facility.services.include?(s[1]) %>
              checked
            <% end %>
          >
          <label for="<%= s[0]%>">
            <%= s[1]%>
          </label>
        </li>
      <% end %>
    </ul>
  </div>
  <hr>
  <div class="form-group" id="service_notes">
    <p>
      <b>Service Notes</b> - Add any notes relevant to specific services such as special hours, or eligibility concerns.<br>
      Eg: "<i>Lunch served between 11:30am and 1:30pm</i>"
    </p>
    <div
      id="shelter_note"
      class="col-md-4"
      <% if @facility.services.nil? || @facility.services.exclude?("Shelter") %>
        style="display:none"
      <% end %>
    >
      <%= f.label :shelter_note, "Shelter" %>
      <%= f.text_area :shelter_note, rows: 7, class: "form-control" %>
    </div>
    <div
      id="food_note"
      class="col-md-4"
      <% if @facility.services.nil? || @facility.services.exclude?("Food") %>
        style="display:none"
      <% end %>
    >
      <%= f.label :food_note, "Food" %>
      <%= f.text_area :food_note, rows: 7, class: "form-control" %>
    </div>
    <div
      id="medical_note"
      class="col-md-4"
      <% if @facility.services.nil? || @facility.services.exclude?("Medical") %>
        style="display:none"
      <% end %>
    >
      <%= f.label :medical_note, "Medical" %>
      <%= f.text_area :medical_note, rows: 7, class: "form-control" %>
    </div>
    <div
      id="hygiene_note"
      class="col-md-4"
      <% if @facility.services.nil? || @facility.services.exclude?("Hygiene") %>
        style="display:none"
      <% end %>
    >
      <%= f.label :hygiene_note, "Hygiene" %>
      <%= f.text_area :hygiene_note, rows: 7, class: "form-control" %>
    </div>
    <div
      id="technology_note"
      class="col-md-4"
      <% if @facility.services.nil? || @facility.services.exclude?("Technology") %>
        style="display:none"
      <% end %>
    >
      <%= f.label :technology_note, "Technology" %>
      <%= f.text_area :technology_note, rows: 7, class: "form-control" %>
    </div>
    <div
      id="legal_note"
      class="col-md-4"
      <% if @facility.services.nil? || @facility.services.exclude?("Legal") %>
        style="display:none"
      <% end %>
    >
      <%= f.label :legal_note, "Legal" %>
      <%= f.text_area :legal_note, rows: 7, class: "form-control" %>
    </div>
    <div
      id="learning_note"
      class="col-md-4"
      <% if @facility.services.nil? || @facility.services.exclude?("Learning") %>
        style="display:none"
      <% end %>
    >
      <%= f.label :learning_note, "Learning" %>
      <%= f.text_area :learning_note, rows: 7, class: "form-control" %>
    </div>
  </div>
  <div class="clearfix"></div>
  <hr>
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgq8DAuch9o1bY6PsPo9cYyHWq16PGHGk&callback=initMap"
 type="text/javascript"></script>
 <div class="form-group">
   <p>
     <%= f.label :address %> - Enter the facility's address then click Search.<br/>Format: Street Address, City, BC. Example: 612 Main St, Vancouver, BC
   </p>
   <div class="form-group-inline">
     <%= f.text_field :address, class: "form-control" %>
     <input type="button" class="btn btn-primary" value="Search" onclick="codeAddress()">
   </div>
   <div id="map-canvas-new"></div>
 </div>

  <hr>

  <div class="form-group">
    <%= f.label :phone %> - Example: 604 555 6789<br/>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <hr>

  <div class="form-group">
    <%= f.label :website %> - Do not include "http://". Example: www.learningexchange.ubc.ca<br/>
    <%= f.text_field :website, class: "form-control" %>
  </div>

  <hr>
<!--
 <p>
   <%= f.label :description %> - Copy paste verbatim from the facility's "about us" page. Will tweak on stakeholder feedback.<br/>
   <%= f.text_area :description, cols: 60, rows: 7 %>
 </p> -->
 <div class="form-group facility-hours">
   <h3>Hours</h3>
   <span class="help-block">Note: The start time and end time for a day cannot be identical. Check the "Second time" option to specify a second time range.</span>
   <div class="well">
     <h4>Monday:</h4>
     <ul class="list-inline">
       <li>
         <%= f.check_box :open_all_day_mon, class: "custom-checkbox" %>
         <%= f.label :open_all_day_mon, "Open all day" %>
       </li>
       <li>
         <%= f.check_box :closed_all_day_mon, class: "custom-checkbox" %>
         <%= f.label :closed_all_day_mon, "Closed all day" %>
       </li>
       <li>
         <%= f.check_box :second_time_mon, class: "custom-checkbox" %>
         <%= f.label :second_time_mon, "Second time" %>
       </li>
     </ul>
     <div id="mon-hours">
       <ul class="list-inline hour-selects">
         <li>
           <%= f.label :startsmon_at, "Starts at" %>
           <%= f.time_select :startsmon_at, default: 8.hours.ago %>
         </li>
         <li>
           <%= f.label :endsmon_at, "Ends at" %>
           <%= f.time_select :endsmon_at, default: 8.hours.ago %>
         </li>
       </ul>
     </div>
     <div id="mon-hours-2" style="display: none;">
       <ul class="list-inline hour-selects">
         <li>
           <%= f.label :startsmon_at2, "Starts at" %>
           <%= f.time_select :startsmon_at2, default: 8.hours.ago  %>
         </li>
         <li>
           <%= f.label :endsmon_at2, "Ends at" %>
           <%= f.time_select :endsmon_at2, default: 8.hours.ago  %>
         </li>
       </ul>
     </div>
   </div>
   <div class="well">
     <h4>Tuesday:</h4>
     <ul class="list-inline">
       <li>
         <%= f.check_box :open_all_day_tues, class: "custom-checkbox" %>
         <%= f.label :open_all_day_tues, "Open all day" %>
       </li>
       <li>
         <%= f.check_box :closed_all_day_tues, class: "custom-checkbox" %>
         <%= f.label :closed_all_day_tues, "Closed all day" %>
       </li>
       <li>
         <%= f.check_box :second_time_tues, class: "custom-checkbox" %>
         <%= f.label :second_time_tues, "Second time" %>
       </li>
     </ul>
     <div id="tues-hours">
       <ul class="list-inline hour-selects">
         <li>
           <%= f.label :startstues_at, "Starts at" %>
           <%= f.time_select :startstues_at, default: 8.hours.ago  %>
         </li>
         <li>
           <%= f.label :endstues_at, "Ends at" %>
           <%= f.time_select :endstues_at, default: 8.hours.ago  %>
         </li>
       </ul>
     </div>
     <div id="tues-hours-2" style="display: none;">
       <ul class="list-inline hour-selects">
         <li>
           <%= f.label :startstues_at2, "Starts at" %>
           <%= f.time_select :startstues_at2, default: 8.hours.ago  %>
         </li>
         <li>
           <%= f.label :endstues_at2, "Ends at" %>
           <%= f.time_select :endstues_at2, default: 8.hours.ago  %>
         </li>
       </ul>
     </div>
   </div>
   <div class="well">
     <h4>Wednesday:</h4>
     <ul class="list-inline">
       <li>
         <%= f.check_box :open_all_day_wed, class: "custom-checkbox" %>
         <%= f.label :open_all_day_wed, "Open all day" %>
       </li>
       <li>
         <%= f.check_box :closed_all_day_wed, class: "custom-checkbox" %>
         <%= f.label :closed_all_day_wed, "Closed all day" %>
       </li>
       <li>
         <%= f.check_box :second_time_wed, class: "custom-checkbox" %>
         <%= f.label :second_time_wed, "Second time" %>
       </li>
     </ul>
     <div id="wed-hours">
       <ul class="list-inline hour-selects">
         <li>
           <%= f.label :startswed_at, "Starts at" %>
           <%= f.time_select :startswed_at, default: 8.hours.ago  %>
         </li>
         <li>
           <%= f.label :endswed_at, "Ends at" %>
           <%= f.time_select :endswed_at, default: 8.hours.ago  %>
         </li>
       </ul>
     </div>
     <div id="wed-hours-2" style="display: none;">
       <ul class="list-inline hour-selects">
         <li>
           <%= f.label :startswed_at2, "Starts at" %>
           <%= f.time_select :startswed_at2, default: 8.hours.ago  %>
         </li>
         <li>
           <%= f.label :endswed_at2, "Ends at" %>
           <%= f.time_select :endswed_at2, default: 8.hours.ago  %>
         </li>
       </ul>
     </div>
   </div>
   <div class="well">
     <h4>Thursday:</h4>
     <ul class="list-inline">
       <li>
         <%= f.check_box :open_all_day_thurs, class: "custom-checkbox" %>
         <%= f.label :open_all_day_thurs, "Open all day" %>
       </li>
       <li>
         <%= f.check_box :closed_all_day_thurs, class: "custom-checkbox" %>
         <%= f.label :closed_all_day_thurs, "Closed all day" %>
       </li>
       <li>
         <%= f.check_box :second_time_thurs, class: "custom-checkbox" %>
         <%= f.label :second_time_thurs, "Second time" %>
       </li>
     </ul>
     <div id="thurs-hours">
       <ul class="list-inline hour-selects">
         <li>
           <%= f.label :startsthurs_at, "Starts at" %>
           <%= f.time_select :startsthurs_at, default: 8.hours.ago  %>
         </li>
         <li>
           <%= f.label :endsthurs_at, "Ends at" %>
           <%= f.time_select :endsthurs_at, default: 8.hours.ago  %>
         </li>
       </ul>
     </div>
     <div id="thurs-hours-2" style="display: none;">
       <ul class="list-inline hour-selects">
         <li>
           <%= f.label :startsthurs_at2, "Starts at" %>
           <%= f.time_select :startsthurs_at2, default: 8.hours.ago  %>
         </li>
         <li>
           <%= f.label :endsthurs_at2, "Ends at" %>
           <%= f.time_select :endsthurs_at2, default: 8.hours.ago  %>
         </li>
       </ul>
     </div>
   </div>
   <div class="well">
     <h4>Friday:</h4>
     <ul class="list-inline">
       <li>
         <%= f.check_box :open_all_day_fri, class: "custom-checkbox" %>
         <%= f.label :open_all_day_fri, "Open all day" %>
       </li>
       <li>
         <%= f.check_box :closed_all_day_fri, class: "custom-checkbox" %>
         <%= f.label :closed_all_day_fri, "Closed all day" %>
       </li>
       <li>
         <%= f.check_box :second_time_fri, class: "custom-checkbox" %>
         <%= f.label :second_time_fri, "Second time" %>
       </li>
     </ul>
     <div id="fri-hours">
       <ul class="list-inline hour-selects">
         <li>
           <%= f.label :startsfri_at, "Starts at" %>
           <%= f.time_select :startsfri_at, default: 8.hours.ago  %>
         </li>
         <li>
           <%= f.label :endsfri_at, "Ends at" %>
           <%= f.time_select :endsfri_at, default: 8.hours.ago  %>
         </li>
       </ul>
     </div>
     <div id="fri-hours-2" style="display: none;">
       <ul class="list-inline hour-selects">
         <li>
           <%= f.label :startsfri_at2, "Starts at" %>
           <%= f.time_select :startsfri_at2, default: 8.hours.ago  %>
         </li>
         <li>
           <%= f.label :endsfri_at2, "Ends at" %>
           <%= f.time_select :endsfri_at2, default: 8.hours.ago  %>
         </li>
       </ul>
     </div>
   </div>
   <div class="well">
     <h4>Saturday:</h4>
     <ul class="list-inline">
       <li>
         <%= f.check_box :open_all_day_sat, class: "custom-checkbox" %>
         <%= f.label :open_all_day_sat, "Open all day" %>
       </li>
       <li>
         <%= f.check_box :closed_all_day_sat, class: "custom-checkbox" %>
         <%= f.label :closed_all_day_sat, "Closed all day" %>
       </li>
       <li>
         <%= f.check_box :second_time_sat, class: "custom-checkbox" %>
         <%= f.label :second_time_sat, "Second time" %>
       </li>
     </ul>
     <div id="sat-hours">
       <ul class="list-inline hour-selects">
         <li>
           <%= f.label :startssat_at, "Starts at" %>
           <%= f.time_select :startssat_at, default: 8.hours.ago  %>
         </li>
         <li>
           <%= f.label :endssat_at, "Ends at" %>
           <%= f.time_select :endssat_at, default: 8.hours.ago  %>
         </li>
       </ul>
     </div>
     <div id="sat-hours-2" style="display: none;">
       <ul class="list-inline hour-selects">
         <li>
           <%= f.label :startssat_at2, "Starts at" %>
           <%= f.time_select :startssat_at2, default: 8.hours.ago  %>
         </li>
         <li>
           <%= f.label :endssat_at2, "Ends at" %>
           <%= f.time_select :endssat_at2, default: 8.hours.ago  %>
         </li>
       </ul>
     </div>
   </div>
   <div class="well">
     <h4>Sunday:</h4>
     <ul class="list-inline">
       <li>
         <%= f.check_box :open_all_day_sun, class: "custom-checkbox" %>
         <%= f.label :open_all_day_sun, "Open all day" %>
       </li>
       <li>
         <%= f.check_box :closed_all_day_sun, class: "custom-checkbox" %>
         <%= f.label :closed_all_day_sun, "Closed all day" %>
       </li>
       <li>
         <%= f.check_box :second_time_sun, class: "custom-checkbox" %>
         <%= f.label :second_time_sun, "Second time" %>
       </li>
     </ul>
     <div id="sun-hours">
       <ul class="list-inline hour-selects">
         <li>
           <%= f.label :startssun_at, "Starts at" %>
           <%= f.time_select :startssun_at, default: 8.hours.ago  %>
         </li>
         <li>
           <%= f.label :endssun_at, "Ends at" %>
           <%= f.time_select :endssun_at, default: 8.hours.ago  %>
         </li>
       </ul>
     </div>
     <div id="sun-hours-2" style="display: none;">
       <ul class="list-inline hour-selects">
         <li>
           <%= f.label :startssun_at2, "Starts at" %>
           <%= f.time_select :startssun_at2, default: 8.hours.ago  %>
         </li>
         <li>
           <%= f.label :endssun_at2, "Ends at" %>
           <%= f.time_select :endssun_at2, default: 8.hours.ago  %>
         </li>
       </ul>
     </div>
   </div>
 </div>

 <hr>

 <div class="form-group">
   <h3>Notes</h3>
   <p>
     Examples: special events, facility rules, etc.<br/>
     <%= f.text_area :notes, rows: 7, class: "form-control" %>
   </p>
   <%= f.hidden_field :lat%>
   <%= f.hidden_field :long %>
 </div>
 <ul class="list-inline">
   <li><%= f.submit @submitText, class: "btn btn-primary" %></li>
   <li><%= link_to "Cancel", facilities_path %></li>
 </ul>
<% end %>

<script>
<% if @facility.welcomes.present? && @facility.welcomes.include?("All") %>
  var initialWelcomes = "<% welcomes.each do |s| %> <%= s[1]%><% end %>";
<% else %>
  var initialWelcomes = "<%= @facility.welcomes %>";  
<% end %>
var finalWelcomes = initialWelcomes.split(" ");
var initialServices = "<%= @facility.services %>";
var finalServices = initialServices.split(" ");

$(document).ready(function(){
  // WELCOMES selection
  $('#facility_welcomes').val(initialWelcomes);
  $("input.welcomes").on('click', function() {
    if (this.checked) {
      finalWelcomes.push(this.value);
    } else {
      index = finalWelcomes.indexOf(this.value);
      if (index > -1) {
        finalWelcomes.splice(index, 1);
      }
    }
    $('#facility_welcomes').val(finalWelcomes.join(' '));
  })

  // SERVICES selection
  $("input.services").on('click', function() {
    var noteId = $(this).data("note-id");
    if (this.checked) {
      finalServices.push(this.value);
      $('div#' + noteId).show();
    } else {
      index = finalServices.indexOf(this.value);
      if (index > -1) {
        finalServices.splice(index, 1);
      }
      $('div#' + noteId).hide();
    }
    $('#facility_services').val(finalServices.join(' '));
  });
});

var monhours = document.getElementById("mon-hours");
var tueshours = document.getElementById("tues-hours");
var wedhours = document.getElementById("wed-hours");
var thurshours = document.getElementById("thurs-hours");
var frihours = document.getElementById("fri-hours");
var sathours = document.getElementById("sat-hours");
var sunhours = document.getElementById("sun-hours");

var monhours2 = document.getElementById("mon-hours-2");
var tueshours2 = document.getElementById("tues-hours-2");
var wedhours2 = document.getElementById("wed-hours-2");
var thurshours2 = document.getElementById("thurs-hours-2");
var frihours2 = document.getElementById("fri-hours-2");
var sathours2 = document.getElementById("sat-hours-2");
var sunhours2 = document.getElementById("sun-hours-2");


//open and closed all days
var oadmon = document.getElementById('facility_open_all_day_mon');
oadmon.setAttribute("onclick", "validate_mon()");
var cadmon = document.getElementById('facility_closed_all_day_mon');
cadmon.setAttribute("onclick", "validate_mon()");

var oadtues = document.getElementById('facility_open_all_day_tues');
oadtues.setAttribute("onclick", "validate_tues()");
var cadtues = document.getElementById('facility_closed_all_day_tues');
cadtues.setAttribute("onclick", "validate_tues()");

var oadwed = document.getElementById('facility_open_all_day_wed');
oadwed.setAttribute("onclick", "validate_wed()");
var cadwed = document.getElementById('facility_closed_all_day_wed');
cadwed.setAttribute("onclick", "validate_wed()");

var oadthurs = document.getElementById('facility_open_all_day_thurs');
oadthurs.setAttribute("onclick", "validate_thurs()");
var cadthurs = document.getElementById('facility_closed_all_day_thurs');
cadthurs.setAttribute("onclick", "validate_thurs()");

var oadfri = document.getElementById('facility_open_all_day_fri');
oadfri.setAttribute("onclick", "validate_fri()");
var cadfri = document.getElementById('facility_closed_all_day_fri');
cadfri.setAttribute("onclick", "validate_fri()");

var oadsat = document.getElementById('facility_open_all_day_sat');
oadsat.setAttribute("onclick", "validate_sat()");
var cadsat = document.getElementById('facility_closed_all_day_sat');
cadsat.setAttribute("onclick", "validate_sat()");

var oadsun = document.getElementById('facility_open_all_day_sun');
oadsun.setAttribute("onclick", "validate_sun()");
var cadsun= document.getElementById('facility_closed_all_day_sun');
cadsun.setAttribute("onclick", "validate_sun()");

//second_times
var stmon = document.getElementById('facility_second_time_mon');
stmon.setAttribute("onclick", "validate_mon()");

var sttues = document.getElementById('facility_second_time_tues');
sttues.setAttribute("onclick", "validate_tues()");

var stwed = document.getElementById('facility_second_time_wed');
stwed.setAttribute("onclick", "validate_wed()");

var stthurs = document.getElementById('facility_second_time_thurs');
stthurs.setAttribute("onclick", "validate_thurs()");

var stfri = document.getElementById('facility_second_time_fri');
stfri.setAttribute("onclick", "validate_fri()");

var stsat = document.getElementById('facility_second_time_sat');
stsat.setAttribute("onclick", "validate_sat()");

var stsun = document.getElementById('facility_second_time_sun');
stsun.setAttribute("onclick", "validate_sun()");

//open or closed all day toggles
function validate_mon(){

 if(oadmon.checked && cadmon.checked && stmon.checked){
   monhours.style.display = 'none';
   monhours2.style.display = 'none';
 }else if (oadmon.checked && cadmon.checked && !stmon.checked){
   monhours.style.display = 'none';
   monhours2.style.display = 'none';
 }else if (oadmon.checked && !cadmon.checked && stmon.checked){
   monhours.style.display = 'none';
   monhours2.style.display = 'none';
 }else if (oadmon.checked && !cadmon.checked && !stmon.checked){
   monhours.style.display = 'none';
   monhours2.style.display = 'none';
 }else if (!oadmon.checked && cadmon.checked && stmon.checked){
   monhours.style.display = 'none';
   monhours2.style.display = 'none';
 }else if (!oadmon.checked && cadmon.checked && !stmon.checked){
   monhours.style.display = 'none';
   monhours2.style.display = 'none';
 }else if (!oadmon.checked && !cadmon.checked && stmon.checked){
   monhours.style.display = 'block';
   monhours2.style.display = 'block';
 }else if (!oadmon.checked && !cadmon.checked && !stmon.checked){
   monhours.style.display = 'block';
   monhours2.style.display = 'none';
 }
}

function validate_tues(){
 if(oadtues.checked && cadtues.checked && sttues.checked){
   tueshours.style.display = 'none';
   tueshours2.style.display = 'none';
 }else if (oadtues.checked && cadtues.checked && !sttues.checked){
   tueshours.style.display = 'none';
   tueshours2.style.display = 'none';
 }else if (oadtues.checked && !cadtues.checked && sttues.checked){
   tueshours.style.display = 'none';
   tueshours2.style.display = 'none';
 }else if (oadtues.checked && !cadtues.checked && !sttues.checked){
   tueshours.style.display = 'none';
   tueshours2.style.display = 'none';
 }else if (!oadtues.checked && cadtues.checked && sttues.checked){
   tueshours.style.display = 'none';
   tueshours2.style.display = 'none';
 }else if (!oadtues.checked && cadtues.checked && !sttues.checked){
   tueshours.style.display = 'none';
   tueshours2.style.display = 'none';
 }else if (!oadtues.checked && !cadtues.checked && sttues.checked){
   tueshours.style.display = 'block';
   tueshours2.style.display = 'block';
 }else if (!oadtues.checked && !cadtues.checked && !sttues.checked){
   tueshours.style.display = 'block';
   tueshours2.style.display = 'none';
 }
}

function validate_wed(){
 if(oadwed.checked && cadwed.checked && stwed.checked){
   wedhours.style.display = 'none';
   wedhours2.style.display = 'none';
 }else if (oadwed.checked && cadwed.checked && !stwed.checked){
   wedhours.style.display = 'none';
   wedhours2.style.display = 'none';
 }else if (oadwed.checked && !cadwed.checked && stwed.checked){
   wedhours.style.display = 'none';
   wedhours2.style.display = 'none';
 }else if (oadwed.checked && !cadwed.checked && !stwed.checked){
   wedhours.style.display = 'none';
   wedhours2.style.display = 'none';
 }else if (!oadwed.checked && cadwed.checked && stwed.checked){
   wedhours.style.display = 'none';
   wedhours2.style.display = 'none';
 }else if (!oadwed.checked && cadwed.checked && !stwed.checked){
   wedhours.style.display = 'none';
   wedhours2.style.display = 'none';
 }else if (!oadwed.checked && !cadwed.checked && stwed.checked){
   wedhours.style.display = 'block';
   wedhours2.style.display = 'block';
 }else if (!oadwed.checked && !cadwed.checked && !stwed.checked){
   wedhours.style.display = 'block';
   wedhours2.style.display = 'none';
 }
}

function validate_thurs(){
 if(oadthurs.checked && cadthurs.checked && stthurs.checked){
   thurshours.style.display = 'none';
   thurshours2.style.display = 'none';
 }else if (oadthurs.checked && cadthurs.checked && !stthurs.checked){
   thurshours.style.display = 'none';
   thurshours2.style.display = 'none';
 }else if (oadthurs.checked && !cadthurs.checked && stthurs.checked){
   thurshours.style.display = 'none';
   thurshours2.style.display = 'none';
 }else if (oadthurs.checked && !cadthurs.checked && !stthurs.checked){
   thurshours.style.display = 'none';
   thurshours2.style.display = 'none';
 }else if (!oadthurs.checked && cadthurs.checked && stthurs.checked){
   thurshours.style.display = 'none';
   thurshours2.style.display = 'none';
 }else if (!oadthurs.checked && cadthurs.checked && !stthurs.checked){
   thurshours.style.display = 'none';
   thurshours2.style.display = 'none';
 }else if (!oadthurs.checked && !cadthurs.checked && stthurs.checked){
   thurshours.style.display = 'block';
   thurshours2.style.display = 'block';
 }else if (!oadthurs.checked && !cadthurs.checked && !stthurs.checked){
   thurshours.style.display = 'block';
   thurshours2.style.display = 'none';
 }
}

function validate_fri(){
 if(oadfri.checked && cadfri.checked && stfri.checked){
   frihours.style.display = 'none';
   frihours2.style.display = 'none';
 }else if (oadfri.checked && cadfri.checked && !stfri.checked){
   frihours.style.display = 'none';
   frihours2.style.display = 'none';
 }else if (oadfri.checked && !cadfri.checked && stfri.checked){
   frihours.style.display = 'none';
   frihours2.style.display = 'none';
 }else if (oadfri.checked && !cadfri.checked && !stfri.checked){
   frihours.style.display = 'none';
   frihours2.style.display = 'none';
 }else if (!oadfri.checked && cadfri.checked && stfri.checked){
   frihours.style.display = 'none';
   frihours2.style.display = 'none';
 }else if (!oadfri.checked && cadfri.checked && !stfri.checked){
   frihours.style.display = 'none';
   frihours2.style.display = 'none';
 }else if (!oadfri.checked && !cadfri.checked && stfri.checked){
   frihours.style.display = 'block';
   frihours2.style.display = 'block';
 }else if (!oadfri.checked && !cadfri.checked && !stfri.checked){
   frihours.style.display = 'block';
   frihours2.style.display = 'none';
 }
}

function validate_sat(){
 if(oadsat.checked && cadsat.checked && stsat.checked){
   sathours.style.display = 'none';
   sathours2.style.display = 'none';
 }else if (oadsat.checked && cadsat.checked && !stsat.checked){
   sathours.style.display = 'none';
   sathours2.style.display = 'none';
 }else if (oadsat.checked && !cadsat.checked && stsat.checked){
   sathours.style.display = 'none';
   sathours2.style.display = 'none';
 }else if (oadsat.checked && !cadsat.checked && !stsat.checked){
   sathours.style.display = 'none';
   sathours2.style.display = 'none';
 }else if (!oadsat.checked && cadsat.checked && stsat.checked){
   sathours.style.display = 'none';
   sathours2.style.display = 'none';
 }else if (!oadsat.checked && cadsat.checked && !stsat.checked){
   sathours.style.display = 'none';
   sathours2.style.display = 'none';
 }else if (!oadsat.checked && !cadsat.checked && stsat.checked){
   sathours.style.display = 'block';
   sathours2.style.display = 'block';
 }else if (!oadsat.checked && !cadsat.checked && !stsat.checked){
   sathours.style.display = 'block';
   sathours2.style.display = 'none';
 }
}

function validate_sun(){
 if(oadsun.checked && cadsun.checked && stsun.checked){
   sunhours.style.display = 'none';
   sunhours2.style.display = 'none';
 }else if (oadsun.checked && cadsun.checked && !stsun.checked){
   sunhours.style.display = 'none';
   sunhours2.style.display = 'none';
 }else if (oadsun.checked && !cadsun.checked && stsun.checked){
   sunhours.style.display = 'none';
   sunhours2.style.display = 'none';
 }else if (oadsun.checked && !cadsun.checked && !stsun.checked){
   sunhours.style.display = 'none';
   sunhours2.style.display = 'none';
 }else if (!oadsun.checked && cadsun.checked && stsun.checked){
   sunhours.style.display = 'none';
   sunhours2.style.display = 'none';
 }else if (!oadsun.checked && cadsun.checked && !stsun.checked){
   sunhours.style.display = 'none';
   sunhours2.style.display = 'none';
 }else if (!oadsun.checked && !cadsun.checked && stsun.checked){
   sunhours.style.display = 'block';
   sunhours2.style.display = 'block';
 }else if (!oadsun.checked && !cadsun.checked && !stsun.checked){
   sunhours.style.display = 'block';
   sunhours2.style.display = 'none';
 }
}

</script>
