<%= form_for(@facility) do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name, autofocus: true %>
  </p>
  <p>
    <%= f.label :welcomes %><br/>
    <%= f.text_field :welcomes %>
  </p>
  <p>
    <%= f.label :suitability %><br/>
    <%= f.text_field :suitability %>
  </p>
  <p>
    <%= f.label :services %><br/>
    <%= f.text_field :services %>
  </p>
  <p>
    <%= f.label :address %><br/>
    <%= f.text_field :address %><br>
    <div id="map-canvas-new"></div>
    <input type="button" value="Search" onclick="codeAddress()">
  


  </p>
  <p>
    <%= f.label :phone %><br/>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :website %><br/>
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description, cols: 40, rows: 7 %>
  </p>
  <p>
    <%= f.label :startsmon_at %><br/>
    <%= f.time_select :startsmon_at, default: 8.hours.ago  %>
  </p>
  <p>
    <%= f.label :endsmon_at %><br/>
    <%= f.time_select :endsmon_at, default: 8.hours.ago  %>
  </p>

  <p>
    <%= f.label :startstues_at %><br/>
    <%= f.time_select :startstues_at, default: 8.hours.ago  %>
  </p>
  <p>
    <%= f.label :endstues_at %><br/>
    <%= f.time_select :endstues_at, default: 8.hours.ago  %>
  </p>

  <p>
    <%= f.label :startswed_at %><br/>
    <%= f.time_select :startswed_at, default: 8.hours.ago  %>
  </p>
  <p>
    <%= f.label :endswed_at %><br/>
    <%= f.time_select :endswed_at, default: 8.hours.ago  %>
  </p>

  <p>
    <%= f.label :startsthurs_at %><br/>
    <%= f.time_select :startsthurs_at, default: 8.hours.ago  %>
  </p>
  <p>
    <%= f.label :endsthurs_at %><br/>
    <%= f.time_select :endsthurs_at, default: 8.hours.ago  %>
  </p>

  <p>
    <%= f.label :startsfri_at %><br/>
    <%= f.time_select :startsfri_at, default: 8.hours.ago  %>
  </p>
  <p>
    <%= f.label :endsfri_at %><br/>
    <%= f.time_select :endsfri_at, default: 8.hours.ago  %>
  </p>

  <p>
    <%= f.label :startssat_at %><br/>
    <%= f.time_select :startssat_at, default: 8.hours.ago  %>
  </p>
  <p>
    <%= f.label :endssat_at %><br/>
    <%= f.time_select :endssat_at, default: 8.hours.ago  %>
  </p>

  <p>
    <%= f.label :startssun_at %><br/>
    <%= f.time_select :startssun_at, default: 8.hours.ago  %>
  </p>
  <p>
    <%= f.label :endssun_at %><br/>
    <%= f.time_select :endssun_at, default: 8.hours.ago  %>
  </p>

  <p>
    <%= f.label :notes %><br/>
    <%= f.text_area :notes, cols: 40, rows: 7 %>
  </p>
  <p>
    <%= f.hidden_field :lat%><br>
    <%= f.hidden_field :long %>
  </p>
  <p>
    <%= f.submit %>
    <%= link_to "Cancel", facilities_path %>
  </p>
<% end %>
