<%= render 'nav' %>
<div class="toggle-group">

<div class="container-prox">
  <div class="btn-group btn-toggle prox">
    <p>Sort By</p>
    <p class="prox-toggle"></p>
    <p class="open-toggle"></p>
    <button class="btn btn-primary active" id="near">Near</button>
    <button class="btn btn-default" id="name">Name</button>
  </div>
</div>

<div class="container-open">
  <div class="btn-group btn-toggle open"> 
    <p>Open Now</p> 
    <button class="btn btn-primary active">Yes</button>
    <button class="btn btn-default">No</button>
  </div>
</div>

<div class="container-search">
  <div class="btn-group btn-toggle">
    <p><span style="color:white">.</span></p>
    <%= link_to "Options", root_path, class: 'btn btn-default' %>
  </div>
</div>

</div>

<!--
<h3>sortby = <%=@sortby%> </h3>
<h3>hours = <%=@hours%> </h3>
<h3>services = <%=@services%> </h3>
<h3>suitable = <%=@suitable%> </h3>
<h3>welcome = <%=@welcome%> </h3>
-->


<div id="index">
<br>
<br>
<br>
<br>

<!--
Count nearyes: <%=@facilities_near_yes.count%><br>
Count nearno: <%=@facilities_near_no.count%><br>
Count nameyes: <%=@facilities_name_yes.count%><br>
Count nameno: <%=@facilities_name_no.count%><br>
Count facilities: <%=@facilities.count%></br> -->

<div id="near-yes">
<% @facilities_near_yes.each do |f| %>
  <strong><%= link_to f.name, f%></strong><br>
  <%=f.description%><br>
  <%=f.services%>
  <hr>
<% end %>
</div>
<div id="near-no">
<% @facilities_near_no.each do |f| %>
  <strong><%= link_to f.name, f%></strong><br>
  <%=f.description%><br>
  <%=f.services%>
  <hr>
<% end %>
</div>
<div id="name-yes">
<% @facilities_name_yes.each do |f| %>
  <strong><%= link_to f.name, f%></strong><br>
  <%=f.description%><br>
  <%=f.services%>
  <hr>
<% end %>
</div>
<div id="name-no">
<% @facilities_name_no.each do |f| %>
  <strong><%= link_to f.name, f%></strong><br>
  <%=f.description%><br>
  <%=f.services%>
  <hr>
<% end %>
</div>
<div id="no-results">
  <strong>Sorry, no search results found.</strong><br>
</div>


</div>

<%= content_tag :div, class: "temp_information", data: {jssortby: @sortby, jshours: @hours, nearyescheck: @facilities_near_yes.count, nearnocheck: @facilities_near_no.count} do %>
<% end %>


<script>
var jssortby = $('.temp_information').data('jssortby');
var jshours = $('.temp_information').data('jshours');

var nearyescheck = $('.temp_information').data('nearyescheck');
var nearnocheck = $('.temp_information').data('nearnocheck');
var nearyes = document.getElementById("near-yes");
var nearno = document.getElementById("near-no");
var nameyes = document.getElementById("name-yes");
var nameno = document.getElementById("name-no");
var noresults = document.getElementById("no-results");

if ((nearyescheck == 0) && (nearnocheck != 0)){
  $('.open').find('.btn').toggleClass('active');  
  $('.open').find('.btn').toggleClass('btn-primary');
  $('.open').find('.btn').toggleClass('btn-default');
  $('.prox-toggle').toggle();
  nearyes.style.display = 'none';
  nearno.style.display = 'block';
  nameyes.style.display = 'none';
  nameno.style.display = 'none';
  nameno.style.display = 'none';
  noresults.style.display = 'none';
}else if ((nearyescheck == 0) && (nearnocheck == 0)){
  nearyes.style.display = 'none';
  nearno.style.display = 'none';
  nameyes.style.display = 'none';
  nameno.style.display = 'none';
  noresults.style.display = 'block';
}else{
  nearyes.style.display = 'block';
  nearno.style.display = 'none';
  nameyes.style.display = 'none';
  nameno.style.display = 'none';
  noresults.style.display = 'none';
}

if ((jssortby == "Near") && (jshours == "All")){

  $('.prox').find('.btn').toggleClass('active');  
  $('.prox').find('.btn').toggleClass('btn-primary');
  $('.prox').find('.btn').toggleClass('btn-default');
  $('.open-toggle').toggle();

  nearyes.style.display = 'block';
  nearno.style.display = 'block';
  nameyes.style.display = 'none';
  nameno.style.display = 'none';
  noresults.style.display = 'none';

}


if ((jssortby == "Name") && (jshours == "Open")){

  $('.open').find('.btn').toggleClass('active');  
  $('.open').find('.btn').toggleClass('btn-primary');
  $('.open').find('.btn').toggleClass('btn-default');
  $('.prox-toggle').toggle();

  nearyes.style.display = 'none';
  nearno.style.display = 'none';
  nameyes.style.display = 'block';
  nameno.style.display = 'none';
  noresults.style.display = 'none';

}


if ((jssortby == "Name") && (jshours == "All")){

  $('.open').find('.btn').toggleClass('active');  
  $('.open').find('.btn').toggleClass('btn-primary');
  $('.open').find('.btn').toggleClass('btn-default');
  $('.prox-toggle').toggle();

  $('.prox').find('.btn').toggleClass('active');  
  $('.prox').find('.btn').toggleClass('btn-primary');
  $('.prox').find('.btn').toggleClass('btn-default');
  $('.open-toggle').toggle();

  nearyes.style.display = 'none';
  nearno.style.display = 'none';
  nameyes.style.display = 'block';
  nameno.style.display = 'block';
  noresults.style.display = 'none';

}






$('.prox').click(function() {
    $(this).find('.btn').toggleClass('active');  
    $(this).find('.btn').toggleClass('btn-primary');
    $(this).find('.btn').toggleClass('btn-default');

    $('.open-toggle').toggle();

    if (($('.open-toggle').is(':visible')) && ($('.prox-toggle').is(':visible'))){
      nearyes.style.display = 'block';
      nearno.style.display = 'none';
      nameyes.style.display = 'none';
      nameno.style.display = 'none';
    }else if (($('.open-toggle').is(':visible')) && ($('.prox-toggle').is(':hidden'))){
      nearyes.style.display = 'none';
      nearno.style.display = 'block';
      nameyes.style.display = 'none';
      nameno.style.display = 'none';
    }else if (($('.open-toggle').is(':hidden')) && ($('.prox-toggle').is(':visible'))){
      nearyes.style.display = 'none';
      nearno.style.display = 'none';
      nameyes.style.display = 'block';
      nameno.style.display = 'none';
    }else if (($('.open-toggle').is(':hidden')) && ($('.prox-toggle').is(':hidden'))){
      nearyes.style.display = 'none';
      nearno.style.display = 'none';
      nameyes.style.display = 'none';
      nameno.style.display = 'block';
    }

});

$('.open').click(function() {
    $(this).find('.btn').toggleClass('active');  
    $(this).find('.btn').toggleClass('btn-primary');
    $(this).find('.btn').toggleClass('btn-default');

    $('.prox-toggle').toggle();

    if (($('.open-toggle').is(':visible')) && ($('.prox-toggle').is(':visible'))){
      nearyes.style.display = 'block';
      nearno.style.display = 'none';
      nameyes.style.display = 'none';
      nameno.style.display = 'none';
    }else if (($('.open-toggle').is(':visible')) && ($('.prox-toggle').is(':hidden'))){
      nearyes.style.display = 'none';
      nearno.style.display = 'block';
      nameyes.style.display = 'none';
      nameno.style.display = 'none';
    }else if (($('.open-toggle').is(':hidden')) && ($('.prox-toggle').is(':visible'))){
      nearyes.style.display = 'none';
      nearno.style.display = 'none';
      nameyes.style.display = 'block';
      nameno.style.display = 'none';
    }else if (($('.open-toggle').is(':hidden')) && ($('.prox-toggle').is(':hidden'))){
      nearyes.style.display = 'none';
      nearno.style.display = 'none';
      nameyes.style.display = 'none';
      nameno.style.display = 'block';
    }

});

</script>