<%= render 'nav' %>

<div role="navigation" class="toggle-group">
  <div title="filtering options" class="toggle-group-content">

<div class="container-prox" style="width: 49%;
                                   display: inline-block;
                                   min-width:120px;
                                   text-align: center;">
  <div class="prox">
  <div class="btn-group btn-toggle">
    <p>Sort By</p>
    <p class="prox-toggle"></p>
    <p class="open-toggle"></p>
    <button class="btn btn-primary active" id="near" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px">Near</button>
    <button class="btn btn-default" id="name" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px">Name</button>
  </div>
  </div>
</div>

<div class="container-open" style="width: 49%;
                                   display: inline-block;
                                   min-width: 93px;
                                   text-align: center;">
  <div class="open">
  <div class="btn-group btn-toggle">
    <p>Open/Closed</p>
    <button class="btn btn-primary active" id="yes" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px">Open</button>
    <button class="btn btn-default" id="no" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px">Closed</button>
  </div>
  </div>
</div>

<!--<div class="pusher" style="float:left; min-width:300px; display:block; width: 50%"></div> -->

<!-- Advanced Search
<div class="container-search">
  <div class="options-button">
  <div class="btn-group btn-toggle">
    <p><span style="color:white">.</span></p>
    <%= link_to "Advanced Search", facilities_options_path, class: 'btn btn-default', id: 'options-id' %>
  </div>
  </div>
</div> -->

</div>
</div>


<div id="index">


<% $i=0 %>

<div id="near-yes">
<% @facilities_near_yes.each do |f| %>
<a href=<%= facility_path(f)%>>
  <div class="facility-block">
    <div class= "facility-block-name"><strong><%= f.name %></strong></div>
    <div class="is-open">&nbsp;&nbsp;OPEN</div>
    <%= display_services(f.services) %>
    <%= @facilities_near_yes_distance[$i].round(2) %> kilometres
    <i class="glyphicon glyphicon-chevron-right chevron-right-filtered"></i>
  </div>
</a>
  <hr>
<% $i += 1 %>
<% end %>
</div>

<% $i=0 %>

<div id="near-no">
<% @facilities_near_no.each do |f| %>
<a href=<%= facility_path(f)%>>
  <div class="facility-block">
    <div class= "facility-block-name"><strong><%= f.name %></strong></div>
    <div class="is-closed">&nbsp;&nbsp;CLOSED</div>
    <%= display_services(f.services) %>
    <%= @facilities_near_no_distance[$i].round(2) %> kilometres
    <i class="glyphicon glyphicon-chevron-right chevron-right-filtered"></i>
  </div>
</a>
  <hr>
<% $i += 1 %>
<% end %>

</div>

<% $i=0 %>

<div id="name-yes">
<% @facilities_name_yes.each do |f| %>
<a href=<%= facility_path(f)%>>
  <div class="facility-block">
    <div class= "facility-block-name"><strong><%= f.name %></strong></div>
    <div class="is-open">&nbsp;&nbsp;OPEN</div>
    <%= display_services(f.services) %>
    <%= @facilities_name_yes_distance[$i].round(2) %> kilometres
    <i class="glyphicon glyphicon-chevron-right chevron-right-filtered"></i>
  </div>
</a>
  <hr>
<% $i += 1 %>
<% end %>
</div>

<% $i=0 %>

<div id="name-no">
<% @facilities_name_no.each do |f| %>
<a href=<%= facility_path(f)%>>
  <div class="facility-block">
    <div class= "facility-block-name"><strong><%= f.name %></strong></div>
    <div class="is-closed">&nbsp;&nbsp;CLOSED</div>
    <%= display_services(f.services) %>
    <%= @facilities_name_no_distance[$i].round(2) %> kilometres
    <i class="glyphicon glyphicon-chevron-right chevron-right-filtered"></i>
  </div>
</a>
  <hr>
<% $i += 1 %>
<% end %>
</div>
<div id="no-results">
  <strong>Sorry, no search results found.</strong><br>
</div>

</div>
</div>

<%= content_tag :div, class: "temp_information", data: {jssortby: @sortby, jshours: @hours, nearyescheck:

@facilities_near_yes.count, nearnocheck: @facilities_near_no.count} do %>
<% end %>

<script>
var jssortby = $('.temp_information').data('jssortby');
var jshours = $('.temp_information').data('jshours');

var nearyescheck = $('.temp_information').data('nearyescheck');
var nearnocheck = $('.temp_information').data('nearnocheck');
var nearyes = document.getElementById("near-yes");
var nearno = document.getElementById("near-no");
var nameyes = document.getElementById("name-yes");
var nameno = document.getElementById("name-no");
var noresults = document.getElementById("no-results");

setTimeout(function(){}, 500);

if ((nearyescheck == 0) && (nearnocheck != 0)){
  $('.open').find('.btn').toggleClass('active');
  $('.open').find('.btn').toggleClass('btn-primary');
  $('.open').find('.btn').toggleClass('btn-default');
  $('.prox-toggle').toggle();
  nearyes.style.display = 'none';
  nearno.style.display = 'block';
  nameyes.style.display = 'none';
  nameno.style.display = 'none';
  nameno.style.display = 'none';
  noresults.style.display = 'none';
}else if ((nearyescheck == 0) && (nearnocheck == 0)){
  nearyes.style.display = 'none';
  nearno.style.display = 'none';
  nameyes.style.display = 'none';
  nameno.style.display = 'none';
  noresults.style.display = 'block';
}else{
  nearyes.style.display = 'block';
  nearno.style.display = 'none';
  nameyes.style.display = 'none';
  nameno.style.display = 'none';
  noresults.style.display = 'none';
}

if ((jssortby == "Near") && (jshours == "All")){

  $('.open').find('.btn').toggleClass('active');
  $('.open').find('.btn').toggleClass('btn-primary');
  $('.open').find('.btn').toggleClass('btn-default');
  $('.prox-toggle').toggle();

  nearyes.style.display = 'block';
  nearno.style.display = 'block';
  nameyes.style.display = 'none';
  nameno.style.display = 'none';
  noresults.style.display = 'none';

}


if ((jssortby == "Name") && (jshours == "Open")){

  $('.prox').find('.btn').toggleClass('active');
  $('.prox').find('.btn').toggleClass('btn-primary');
  $('.prox').find('.btn').toggleClass('btn-default');
  $('.open-toggle').toggle();

  nearyes.style.display = 'none';
  nearno.style.display = 'none';
  nameyes.style.display = 'block';
  nameno.style.display = 'none';
  noresults.style.display = 'none';

}


if ((jssortby == "Name") && (jshours == "All")){

  $('.open').find('.btn').toggleClass('active');
  $('.open').find('.btn').toggleClass('btn-primary');
  $('.open').find('.btn').toggleClass('btn-default');
  $('.prox-toggle').toggle();

  $('.prox').find('.btn').toggleClass('active');
  $('.prox').find('.btn').toggleClass('btn-primary');
  $('.prox').find('.btn').toggleClass('btn-default');
  $('.open-toggle').toggle();

  nearyes.style.display = 'none';
  nearno.style.display = 'none';
  nameyes.style.display = 'block';
  nameno.style.display = 'block';
  noresults.style.display = 'none';

}






$('.prox').click(function() {
    $(this).find('.btn').toggleClass('active');
    $(this).find('.btn').toggleClass('btn-primary');
    $(this).find('.btn').toggleClass('btn-default');

    $('.open-toggle').toggle();

    if (($('.open-toggle').is(':visible')) && ($('.prox-toggle').is(':visible'))){
      nearyes.style.display = 'block';
      nearno.style.display = 'none';
      nameyes.style.display = 'none';
      nameno.style.display = 'none';
    }else if (($('.open-toggle').is(':visible')) && ($('.prox-toggle').is(':hidden'))){
      nearyes.style.display = 'none';
      nearno.style.display = 'block';
      nameyes.style.display = 'none';
      nameno.style.display = 'none';
    }else if (($('.open-toggle').is(':hidden')) && ($('.prox-toggle').is(':visible'))){
      nearyes.style.display = 'none';
      nearno.style.display = 'none';
      nameyes.style.display = 'block';
      nameno.style.display = 'none';
    }else if (($('.open-toggle').is(':hidden')) && ($('.prox-toggle').is(':hidden'))){
      nearyes.style.display = 'none';
      nearno.style.display = 'none';
      nameyes.style.display = 'none';
      nameno.style.display = 'block';
    }

});

$('.open').click(function() {
    $(this).find('.btn').toggleClass('active');
    $(this).find('.btn').toggleClass('btn-primary');
    $(this).find('.btn').toggleClass('btn-default');

    $('.prox-toggle').toggle();

    if (($('.open-toggle').is(':visible')) && ($('.prox-toggle').is(':visible'))){
      nearyes.style.display = 'block';
      nearno.style.display = 'none';
      nameyes.style.display = 'none';
      nameno.style.display = 'none';
    }else if (($('.open-toggle').is(':visible')) && ($('.prox-toggle').is(':hidden'))){
      nearyes.style.display = 'none';
      nearno.style.display = 'block';
      nameyes.style.display = 'none';
      nameno.style.display = 'none';
    }else if (($('.open-toggle').is(':hidden')) && ($('.prox-toggle').is(':visible'))){
      nearyes.style.display = 'none';
      nearno.style.display = 'none';
      nameyes.style.display = 'block';
      nameno.style.display = 'none';
    }else if (($('.open-toggle').is(':hidden')) && ($('.prox-toggle').is(':hidden'))){
      nearyes.style.display = 'none';
      nearno.style.display = 'none';
      nameyes.style.display = 'none';
      nameno.style.display = 'block';
    }

});

</script>