<%= render 'nav' %>

<div id="index-main">
	<h3>What service are you looking for?</h3>

		<%= button_to "Shelter", filtered_facilities_path(:Shelter), :method => "get", class: 'btn' %><br>
		<%= button_to "Food", filtered_facilities_path(:Food), :method => "get", class: 'btn' %><br>
		<%= button_to "Medical", filtered_facilities_path(:Medical), :method => "get", class: 'btn' %><br>
		<%= button_to "Hygiene", filtered_facilities_path(:Hygiene), :method => "get", class: 'btn' %><br>
		<%= button_to "Technology", filtered_facilities_path(:Technology), :method => "get", class: 'btn' %>
</div>

<p><%= link_to "Add New Facility", new_facility_path %></p>