<section id="facilities">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h3 class="title">What service are you looking for?</h3>

				<a href="/facilities/filter/Shelter/" class="btn btn-default clearfix facilities-category">
					<i class="linkvan-icon"><%= inline_svg('icons/shelter.svg', size: '30px') %></i>
					<span>Shelter</span>
					<i class="glyphicon glyphicon-chevron-right chevron-right"></i>
				</a>
				<a href="/facilities/filter/Food/" class="btn btn-default clearfix facilities-category">
					<i class="linkvan-icon"><%= inline_svg('icons/cutlery.svg', size: '30px') %></i>
					<span>Food</span>
					<i class="glyphicon glyphicon-chevron-right chevron-right"></i>
				</a>
				<a href="/facilities/filter/Medical/" class="btn btn-default clearfix facilities-category">
					<i class="linkvan-icon"><%= inline_svg('icons/medical.svg', size: '30px') %></i>
					<span>Medical</span>
					<i class="glyphicon glyphicon-chevron-right chevron-right"></i>
				</a>
				<a href="/facilities/filter/Hygiene/" class="btn btn-default clearfix facilities-category">
					<i class="linkvan-icon"><%= inline_svg('icons/hygiene.svg', size: '30px') %></i>
					<span>Hygiene</span>
					<i class="glyphicon glyphicon-chevron-right chevron-right"></i>
				</a>
				<a href="/facilities/filter/Technology/" class="btn btn-default clearfix facilities-category">
					<i class="linkvan-icon"><%= inline_svg('icons/technology.svg', size: '30px') %></i>
					<span>Technology</span>
					<i class="glyphicon glyphicon-chevron-right chevron-right"></i>
				</a>
				<a href="/facilities/filter/Legal/" class="btn btn-default clearfix facilities-category">
					<i class="linkvan-icon"><%= inline_svg('icons/advocacy.svg', size: '30px') %></i>
					<span>Legal</span>
					<i class="glyphicon glyphicon-chevron-right chevron-right"></i>
				</a>
				<a href="/facilities/filter/Learning" class="btn btn-default clearfix facilities-category">
					<i class="linkvan-icon"><%= inline_svg('icons/learning.svg', size: '30px') %></i>
					<span>Learning</span>
					<i class="glyphicon glyphicon-chevron-right chevron-right"></i>
				</a>
				<a href="/crisis" class="btn btn-default clearfix facilities-category">
					<i class="linkvan-icon"><%= inline_svg('icons/crisis.svg', size: '30px') %></i>
					<span>Crisis Lines</span>
					<i class="glyphicon glyphicon-chevron-right chevron-right"></i>
				</a>
			</div>
		</div>
	</div>
</section>
