<%= render 'nav' %>



<div id="index-main">
<h3>Show page for <%= @facility.name %></h3>

<p>Name: <%=@facility.name %></p>

<p>Welcomes: <%=@facility.welcomes %></p>

<p>Services: <%=@facility.services %></p>
<div id="map-canvas"></div>


<p>Address: <%=@facility.address %></p>

<p>Phone: <%=@facility.phone %></p>

<p>Website: <%=@facility.website %></p>

<p>Description: <%=@facility.description %></p>

<p>Monday: <%=@facility.startsmon_at %> to <%=@facility.endsmon_at %></p>
<p>Tuesday: <%=@facility.startstues_at %> to <%=@facility.endstues_at %></p>
<p>Wednesday: <%=@facility.startswed_at %> to <%=@facility.endswed_at %></p>
<p>Thursday: <%=@facility.startsthurs_at %> to <%=@facility.endsthurs_at %></p>
<p>Friday: <%=@facility.startsfri_at %> to <%=@facility.endsfri_at %></p>
<p>Saturday: <%=@facility.startssat_at %> to <%=@facility.endssat_at %></p>
<p>Sunday: <%=@facility.startssun_at %> to <%=@facility.endssun_at %></p>

<p>Notes: <%=@facility.notes %></p>

<%= link_to "All Facilities", facilities_path %>
<%= link_to "Edit", edit_facility_path%>
<%= link_to "Delete", @facility, method: :delete, data: {confirm: 'Are you sure?'}%>
</div>



<%= content_tag :div, class: "temp_information", data: {jsevent: @facility} do %>
<% end %>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
var jsevent = $('.temp_information').data('jsevent');
var map;
function initialize() {
  var myLocation = new google.maps.LatLng(jsevent.lat, jsevent.long);
      
        var mapOptions = {
          center: myLocation,
          zoom: 13
        };

        var marker = new google.maps.Marker({
      		position: myLocation,
      		animation: google.maps.Animation.DROP,
      		title: jsevent.name});

        

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
    