<div id="index-main">
  <%= render 'breadcrumb' %>
<% if @facility.verified != true %>
  <div class="alert alert-info" role="alert">This facility has not been verified yet, so it will not show up to other users until our LinkVan team verifies it.
  <br><br> We will get in touch with you as soon as we can :)</div>
<% end %>
<h1><%=@facility.name %></h1>

<h2>Welcomes</h2>
<div class="inset" id="suitability">
  <ul>
    <% @welcomeArray = @facility.welcomes.downcase.split %>
    <% if isWelcome("female", @welcomeArray) %>
        <li>
          <i class="linkvan-icon"><%= inline_svg('icons/female.svg', size: '30px') %></i>
          <p>Female</p>
        </li>
    <% end %>
    <% if isWelcome("male", @welcomeArray) %>
        <li>
          <i class="linkvan-icon"><%= inline_svg('icons/male.svg', size: '30px') %></i>
          <p>Male</p>
        </li>
    <% end %>
    <% if isWelcome("transgender", @welcomeArray) %>
        <li>
          <i class="linkvan-icon"><%= inline_svg('icons/transgender.svg', size: '30px') %></i>
          <p>Transgender</p>
        </li>
    <% end %>
    <% if isWelcome("children", @welcomeArray) %>
        <li>
          <i class="linkvan-icon"><%= inline_svg('icons/age-children.svg', size: '30px') %></i>
          <p>Children</p>
        </li>
    <% end %>
    <% if isWelcome("youth", @welcomeArray) %>
        <li>
          <i class="linkvan-icon"><%= inline_svg('icons/age-youth.svg', size: '30px') %></i>
          <p>Youth</p>
        </li>
    <% end %>
    <% if isWelcome("adult", @welcomeArray) %>
        <li>
          <i class="linkvan-icon"><%= inline_svg('icons/age-adults.svg', size: '30px') %></i>
          <p>Adults</p>
        </li>
    <% end %>
    <% if isWelcome("senior", @welcomeArray) %>
        <li>
          <i class="linkvan-icon"><%= inline_svg('icons/age-seniors.svg', size: '30px') %></i>
          <p>Seniors</p>
        </li>
    <% end %>
  </ul>
</div>

<h2>Services</h2>
<div class="inset" id="services">
  <p><%=display_services(@facility.services) %></p>
  <% @facility.services.split.each do |service|
      id = service + "Note"
      note = ""
      case service
          when "Shelter"
              content = content_tag(:i, inline_svg('icons/shelter.svg', size: '25px'), class: "linkvan-icon")
              note += @facility.shelter_note ? @facility.shelter_note : ""
          when "Food"
              content = content_tag(:i, inline_svg('icons/cutlery.svg', size: '25px'), class: "linkvan-icon")
              note += @facility.food_note ? @facility.food_note : ""
          when "Medical"
              content = content_tag(:i, inline_svg('icons/medical.svg', size: '25px'), class: "linkvan-icon")
              note += @facility.medical_note ? @facility.medical_note : ""
          when "Hygiene"
              content = content_tag(:i, inline_svg('icons/hygiene.svg', size: '25px'), class: "linkvan-icon")
              note += @facility.hygiene_note ? @facility.hygiene_note : ""
          when "Technology"
              content = content_tag(:i, inline_svg('icons/technology.svg', size: '25px'), class: "linkvan-icon")
              note += @facility.technology_note ? @facility.technology_note : ""
          when "Legal"
              content = content_tag(:i, inline_svg('icons/advocacy.svg', size: '25px'), class: "linkvan-icon")
              note += @facility.legal_note ? @facility.legal_note : ""
          when "Learning"
              content = content_tag(:i, inline_svg('icons/learning.svg', size: '25px'), class: "linkvan-icon")
              note += @facility.learning_note ? @facility.learning_note : ""
          #else add error case?

      end #ends case
      content = content_tag(:h3, content + content_tag(:span, service), class: "clearfix")
      content += content_tag(:p, note)
      content.html_safe
      %>
    <%= content_tag(:div, content, class: "serviceNote inset", id: id) %>
  <% end %>
</div>

<div class="inset-gmap">
  <div id="map-canvas"></div>
  <p><%=@facility.address %></p>
</div>

<div class="inset-call">
  <!--<strong>Call:</strong> <a href="tel:+17788853580">778-885-3580</a>-->
  <strong>Call:</strong> <a href="tel:<%=format_tel(@facility.phone) %>"><%=format_tel(@facility.phone) %></a>
</div> <!--ends inset-call -->

<!--max=71-->
<div class="inset-website">
  <p><strong>Website: </strong> <%= link_to truncate(@facility.website, length: 33), "http://" + @facility.website  %></p>
</div>

<div id="inset-directions">
</div>

<!--<div class="description">-->

<!--
  <h2>Resources (In Progress)</h2>

<table>
  <tr>
    <td><%= resource_icon_t_or_f?("id", @facility.r_id) %></td>
    <td><%=resource_t_or_f?(@facility.r_id)%></td>
    <td><%=resource_text_t_or_f?("id", @facility.r_id)%></td>
  </tr>
  <tr>
    <td><%= resource_icon_t_or_f?("pets", @facility.r_pets) %></td>
    <td><%=resource_t_or_f?(@facility.r_pets)%> </td>
    <td><%=resource_text_t_or_f?("pets", @facility.r_pets)%></td>
  </tr>
  <tr>
    <td><%= resource_icon_t_or_f?("cart", @facility.r_cart) %></td>
    <td><%=resource_t_or_f?(@facility.r_cart)%></td>
    <td><%=resource_text_t_or_f?("cart", @facility.r_cart)%></td>
  </tr>
  <tr>
    <td><%= resource_icon_t_or_f?("phone", @facility.r_phone) %></td>
    <td><%=resource_t_or_f?(@facility.r_phone)%></td>
    <td> <%=resource_text_t_or_f?("phone", @facility.r_phone)%></td>
  </tr>
  <tr>
    <td><%= resource_icon_t_or_f?("wifi", @facility.r_wifi) %></td>
    <td><%=resource_t_or_f?(@facility.r_wifi)%></td>
    <td><%=resource_text_t_or_f?("wifi", @facility.r_wifi)%></td>
  </tr>
</table>
-->

<h2>Hours</h2>
  <div class="inset" id="hours">

  <table>
    <tr>
      <td>Monday:</td>
      <td><%= display_mon_hours(@facility) %></td>
    </tr>
    <tr>
      <td>Tuesday:</td>
      <td><%= display_tues_hours(@facility) %></td>
    </tr>
    <tr>
      <td>Wednesday:</td>
      <td><%= display_wed_hours(@facility) %></td>
    </tr>
    <tr>
      <td>Thursday:</td>
      <td><%= display_thurs_hours(@facility) %></td>
    </tr>
    <tr>
      <td>Friday:</td>
      <td><%= display_fri_hours(@facility) %></td>
    </tr>
    <tr>
      <td>Saturday:</td>
      <td><%= display_sat_hours(@facility) %> </td>
    </tr>
    <tr>
      <td>Sunday:</td>
      <td><%= display_sun_hours(@facility) %> </td>
    </tr>
  </table>
  </div>

<div class="notes" id="notes">
  <strong>Notes:</strong><br>
  <p><%= @facility.notes %></p>
</div>

  <h2>Last Updated</h2>
  <div class="inset" id="last-updated">
    <p><%=l @facility.updated_at, format: '%a, %d %b %Y' %></p>
  </div>
<br>

<% if current_user_admin? %>
      <h2>Change Status of Facility</h2>
      <div class="inset" id="last-updated">
        <span><b>Facility Status: </b></span>
        <p class="status"><%= @facVerified = @facility.verified ? "Live" : "Pending Review" %></p>
        <label class="form-switch">
          <input type="checkbox" <%= @facility.verified ? "checked" : "" %>>
            <i id="toggle" data-toggle="<%= @facility.id %>" onclick="toggleCurrentFac(this);"></i>
        </label>
      </div>
<% end %>
  <br>

<% if correct_user_or_admin? %>
  <h2><%= link_to "Edit Facility", edit_facility_path%></h2>
  <h2><%= link_to "Delete Facility", @facility, method: :delete, data: {confirm: 'Are you sure?'}%></h2>
<% end %>
</div>




<%= content_tag :div, class: "temp_information", data: {jsevent: @facility} do %>
<% end %>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSLM-Bv5YwI1Ecw2OrMDQF8fZxik6FTzs"></script>
<script>
var jsevent = $('.temp_information').data('jsevent');
var map;
var latitude, longitude;




function initialize() {
  var myLocation = new google.maps.LatLng(jsevent.lat, jsevent.long);

        var mapOptions = {
          center: myLocation,
          zoom: 13,
          scrollwheel: false
        };

        var marker = new google.maps.Marker({
      		position: myLocation,
      		animation: google.maps.Animation.DROP,
      		title: jsevent.name});



  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);




setTimeout(function(){
    var divid = document.getElementById("inset-directions");
    var bdirections = document.createElement("button");
    var tdirections = document.createElement("p");
    tdirections.innerHTML = "Directions"
    tdirections.setAttribute("class", "button-text");

    var directionsImg=document.createElement("i");
    directionsImg.setAttribute("class", "glyphicon glyphicon-search directions-colour");

    var directionsChev=document.createElement("i");
    directionsChev.setAttribute("class", "glyphicon glyphicon-chevron-right chevron-right");

    bdirections.appendChild(directionsImg);
    bdirections.appendChild(tdirections);
    bdirections.appendChild(directionsChev);
    bdirections.setAttribute("class", "btn-custom");
    bdirections.onclick = function() { // Note this is a function
      window.location = "/facilities/directions/" + jsevent.id;
    };

    divid.appendChild(bdirections);
}, 500);

function moreInfo(service) {
    service = service.charAt(0).toUpperCase() + service.slice(1);
    var id = "#" + service + "Note";

    if($(id).is(":visible")) {
        $(id).hide();
    } else {
        $(".serviceNote").each(function(i) {
            if($(this).is(":visible")) {
                $(this).hide();
            }
        });
        $(id).fadeIn();
    }
};

//var test = $(this).data("test");
//console.log(test);


function toggleCurrentFac(d,event) {
    var id = d.getAttribute("data-toggle");
    var url = "/facilities/" + id + "/toggle_verify";
    $.ajax({
        type: "GET",
        url: url,
        success: function(response) {
            //Change the 'status' of the facility
            var statusQuery = 'div > p.status';
            document.querySelector(statusQuery).innerHTML = (response.verified ? "Live" : "Pending Review");

        }
    });
    // event.preventDefault();
};


//Hover functionality
$(function(){
    $(".service").each(function(i){
        var id = "#" + $(this).attr("id") + "Note";
        $(this).mouseenter(function(){
            if(!$(id).is(":visible")){
                $(".serviceNote").each(function(i) {
                    if($(this).is(":visible")) {
                        $(this).hide();
                    }
                });
                $(id).fadeIn();
            }
            console.log("show");
        });
    });

    $("#services").mouseleave(function(){
        $(".serviceNote").each(function(i){
            $(this).fadeOut();
        });
    })
});


</script>
