<%= render 'nav' %>



<div id="index-main">
<h1><%=@facility.name %></h1>


<h2>Welcome</h2>
<div class="inset">
  <p><%=@facility.welcomes %></p>
</div>


<h2>Services</h2>
<div class="inset">
  <p><%=@facility.services %></p>
</div>

<div class="inset-gmap">
  <div id="map-canvas"></div>
  <p><%=@facility.address %></p>
</div>



  <div class="inset-call">
    <p><strong>Call: </strong> <%=@facility.phone %></p>
  </div> <!--ends inset-call -->

<div class="inset-website">
  <p><strong>Website: </strong> <%= link_to @facility.website, "http://" + @facility.website  %></p>
</div>

<div id="inset-directions">
</div>

<div class="description">
  <h2>Description</h2>
  <p><%=@facility.description %></p>

  <h2>Hours</h2>

<table>
  <tr>
    <td>Monday:</td>
    <td>&nbsp;&nbsp;<%=@facility.startsmon_at.strftime("%I:%M%p") %> to <%=@facility.endsmon_at.strftime("%I:%M%p") %> </td>
  </tr>
  <tr>
    <td>Tuesday:</td>
    <td>&nbsp;&nbsp;<%=@facility.startstues_at.strftime("%I:%M%p") %> to <%=@facility.endstues_at.strftime("%I:%M%p") %> </td>
  </tr>
  <tr>
    <td>Wednesday:</td>
    <td>&nbsp;&nbsp;<%=@facility.startswed_at.strftime("%I:%M%p") %> to <%=@facility.endswed_at.strftime("%I:%M%p") %> </td>
  </tr>
  <tr>
    <td>Thursday:</td>
    <td>&nbsp;&nbsp;<%=@facility.startsthurs_at.strftime("%I:%M%p") %> to <%=@facility.endsthurs_at.strftime("%I:%M%p") %> </td>
  </tr>
  <tr>
    <td>Friday:</td>
    <td>&nbsp;&nbsp;<%=@facility.startsfri_at.strftime("%I:%M%p") %> to <%=@facility.endsfri_at.strftime("%I:%M%p") %> </td>
  </tr>
  <tr>
    <td>Saturday:</td>
    <td>&nbsp;&nbsp;<%=@facility.startssat_at.strftime("%I:%M%p") %> to <%=@facility.endssat_at.strftime("%I:%M%p") %> </td>
  </tr>
  <tr>
    <td>Sunday:</td>
    <td>&nbsp;&nbsp;<%=@facility.startssun_at.strftime("%I:%M%p") %> to <%=@facility.endssun_at.strftime("%I:%M%p") %> </td>
  </tr>
</table>

<div class="notes">
  <strong>Notes:</strong><br>
  <p><%= @facility.notes %></p>
</div>


</div>


<% if current_user %>
  <%= link_to "Edit", edit_facility_path%>
  <%= link_to "Delete", @facility, method: :delete, data: {confirm: 'Are you sure?'}%>
<% end %>
</div>




<%= content_tag :div, class: "temp_information", data: {jsevent: @facility} do %>
<% end %>
    
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
var jsevent = $('.temp_information').data('jsevent');
var map;
var latitude, longitude;




function initialize() {
  var myLocation = new google.maps.LatLng(jsevent.lat, jsevent.long);
      
        var mapOptions = {
          center: myLocation,
          zoom: 13
        };

        var marker = new google.maps.Marker({
      		position: myLocation,
      		animation: google.maps.Animation.DROP,
      		title: jsevent.name});

        

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);




setTimeout(function(){
    var divid = document.getElementById("inset-directions");
    var bdirections = document.createElement("button");
    var tdirections = document.createElement("p");
    tdirections.innerHTML = "Directions"
    tdirections.setAttribute("class", "button-text");

    var directionsImg=document.createElement("i");
    directionsImg.setAttribute("class", "glyphicon glyphicon-search directions-colour");

    var directionsChev=document.createElement("i");
    directionsChev.setAttribute("class", "glyphicon glyphicon-chevron-right chevron-right");

    bdirections.appendChild(directionsImg);
    bdirections.appendChild(tdirections);
    bdirections.appendChild(directionsChev);
    bdirections.setAttribute("class", "btn");
    bdirections.onclick = function() { // Note this is a function
      window.location = "/facilities/directions/" + jsevent.id
    };

    divid.appendChild(bdirections);
}, 500);



</script>
    