<%= render 'nav' %>

<div id="index-main">
<h1><%=@facility.name %></h1>


<h2>Welcome</h2>
<div class="inset">
  <p><%=@facility.welcomes %></p>
</div>


<h2>Services</h2>
<div class="inset">
  <p><%=display_services(@facility.services) %></p>
</div>

<div class="inset-gmap">
  <div id="map-canvas"></div>
  <p><%=@facility.address %></p>
</div>

<div class="inset-call">
  <!--<strong>Call:</strong> <a href="tel:+17788853580">778-885-3580</a>-->
  <strong>Call:</strong> <a href="tel:<%=format_tel(@facility.phone) %>"><%=format_tel(@facility.phone) %></a>
</div> <!--ends inset-call -->

<!--max=71-->
<div class="inset-website">
  <p><strong>Website: </strong> <%= link_to truncate(@facility.website, length: 33), "http://" + @facility.website  %></p>
</div>

<div id="inset-directions">
</div>

<div class="description">

<!--
  <h2>Resources (In Progress)</h2>

<table>
  <tr>
    <td><%= resource_icon_t_or_f?("id", @facility.r_id) %></td>
    <td><%=resource_t_or_f?(@facility.r_id)%></td>
    <td><%=resource_text_t_or_f?("id", @facility.r_id)%></td>
  </tr>
  <tr>
    <td><%= resource_icon_t_or_f?("pets", @facility.r_pets) %></td>
    <td><%=resource_t_or_f?(@facility.r_pets)%> </td>
    <td><%=resource_text_t_or_f?("pets", @facility.r_pets)%></td>
  </tr>
  <tr>
    <td><%= resource_icon_t_or_f?("cart", @facility.r_cart) %></td>
    <td><%=resource_t_or_f?(@facility.r_cart)%></td>
    <td><%=resource_text_t_or_f?("cart", @facility.r_cart)%></td>
  </tr>
  <tr>
    <td><%= resource_icon_t_or_f?("phone", @facility.r_phone) %></td>
    <td><%=resource_t_or_f?(@facility.r_phone)%></td>
    <td> <%=resource_text_t_or_f?("phone", @facility.r_phone)%></td>
  </tr>
  <tr>
    <td><%= resource_icon_t_or_f?("wifi", @facility.r_wifi) %></td>
    <td><%=resource_t_or_f?(@facility.r_wifi)%></td>
    <td><%=resource_text_t_or_f?("wifi", @facility.r_wifi)%></td>
  </tr>
</table>
-->

  <h2>Hours</h2>

<table>
  <tr>
    <td>Monday:</td>
    <td><%= display_mon_hours(@facility) %></td>
  </tr>
  <tr>
    <td>Tuesday:</td>
    <td><%= display_tues_hours(@facility) %></td>
  </tr>
  <tr>
    <td>Wednesday:</td>
    <td><%= display_wed_hours(@facility) %></td>
  </tr>
  <tr>
    <td>Thursday:</td>
    <td><%= display_thurs_hours(@facility) %></td>
  </tr>
  <tr>
    <td>Friday:</td>
    <td><%= display_fri_hours(@facility) %></td>
  </tr>
  <tr>
    <td>Saturday:</td>
    <td><%= display_sat_hours(@facility) %> </td>
  </tr>
  <tr>
    <td>Sunday:</td>
    <td><%= display_sun_hours(@facility) %> </td>
  </tr>
</table>

<div class="notes">
  <strong>Notes:</strong><br>
  <p><%= @facility.notes %></p>
</div>


</div>


<% if correct_user_or_admin? %>
  <%= link_to "Edit", edit_facility_path%>
  <% if current_user_admin? %>
    <%= link_to "Delete", @facility, method: :delete, data: {confirm: 'Are you sure?'}%>
  <% end %>
<% end %>
</div>




<%= content_tag :div, class: "temp_information", data: {jsevent: @facility} do %>
<% end %>

<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
var jsevent = $('.temp_information').data('jsevent');
var map;
var latitude, longitude;




function initialize() {
  var myLocation = new google.maps.LatLng(jsevent.lat, jsevent.long);

        var mapOptions = {
          center: myLocation,
          zoom: 13
        };

        var marker = new google.maps.Marker({
      		position: myLocation,
      		animation: google.maps.Animation.DROP,
      		title: jsevent.name});



  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);




setTimeout(function(){
    var divid = document.getElementById("inset-directions");
    var bdirections = document.createElement("button");
    var tdirections = document.createElement("p");
    tdirections.innerHTML = "Directions"
    tdirections.setAttribute("class", "button-text");

    var directionsImg=document.createElement("i");
    directionsImg.setAttribute("class", "glyphicon glyphicon-search directions-colour");

    var directionsChev=document.createElement("i");
    directionsChev.setAttribute("class", "glyphicon glyphicon-chevron-right chevron-right");

    bdirections.appendChild(directionsImg);
    bdirections.appendChild(tdirections);
    bdirections.appendChild(directionsChev);
    bdirections.setAttribute("class", "btn");
    bdirections.onclick = function() { // Note this is a function
      window.location = "/facilities/directions/" + jsevent.id;
    };

    divid.appendChild(bdirections);
}, 500);



</script>
