<%= form_for @alert, html: {class: "form-validate"} do |a| %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="form-group">
        <%= a.label :title, "Title" %>
        <%= a.text_field :title, size: 40, class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= a.label :content, "Content" %>
        <%= a.text_area :content, :class => 'ckeditor' %>
      </div>
      <div class="form-group">
        <%= a.label :content, "Active" %>
        <%= a.check_box :active %>
      </div>
      <%= a.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
