<section id="alert">
  <div class="container">
    <div class="row">
      <div id="main-alert" class="col-sm-8 col-sm-offset-2">
        <p><%= link_to "Go back to Alerts", alerts_path, class: "btn btn-link"%> </p>
        <div class="modal-content">
          <div class="modal-header">
            <h4>
              <i class="linkvan-icon"><%= inline_svg('icons/alert.svg', size: '20px') %></i>
              <%= @alert.title %>
            </h4>
          </div>
          <div class="modal-body">
            <p><%= raw(@alert.content) %></p>
          </div>
        </div>
        <br>
        <br>
        <p>
          <strong>Active:</strong>
          <% if @alert.active %>
            <span class="label label-primary">ON</span>
          <% else %>
            <span class="label label-default">OFF</span>
          <% end %>
        </p>
        <hr>
        <p>
          <%= link_to "Edit", edit_alert_path(@alert.id), class: "btn btn-default"%>
          <%= link_to "Delete", alert_path(@alert), class: "btn btn-link", method: :delete, data: { confirm: 'Are you certain you want to delete this alert?' } %>
        </p>
      </div>
    </div>
  </div>
</section>
