<!DOCTYPE html>
<html>
<head>
  <title>Linkvan</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.css" rel="stylesheet" media="screen">
  <%= favicon_link_tag 'dtes_emblem.ico' %>
  <%= javascript_include_tag "google"%>

</head>

<body>

<%= yield %>

</body>
</html>
