<!DOCTYPE html>
<html>
<head>
  <title>Linkvan</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'dtes_emblem.ico' %>

  <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgq8DAuch9o1bY6PsPo9cYyHWq16PGHGk&callback=initMap"-->
          <!--type="text/javascript">-->
  <!--</script>-->
</head>

<body>
  <%= render 'shared/nav' %>
  <%= yield %>
  <%= render 'shared/footer' %>
</body>
</html>
